@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
}

header > h1 {
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(61, 61, 61);
    color: white;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.425);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer > #eu {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > #creditos {
    padding-bottom: 10px;
    font-size: 0.8em;
}